@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
.App {
  text-align: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  
  
  
}

.main{
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 1px 5px 8px #888888;
  width: 1040px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


::-webkit-scrollbar {
  width: 2cpx;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


@media only screen and (max-width: 1040px) {
  .main{
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .main{
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: none;
  }
}